 @font-face {
            font-family: 'Script-1';
            src: url(Amsterdam\ Personal\ Use.ttf)
        }

        @font-face {
            font-family: 'bodytext-1';
            src: url(breadley-sans-font/BreadleySansRegular-MVyEB.ttf)
            
        }
     body{background-color:rgb(236,238,222)}

        h1 {text-align: center;
            font-family: 'Script-1';
            font-size: 30pt;
            font-weight: 300;
            margin: auto;
            margin-top: 20pt;
            color: rgb(138,161,197);}

    p {font-family: 'Times New Roman', Times, serif; font-size: 16pt; text-align: center;}
    a:link {
  color: #CBB99B;
  background-color: transparent;
  text-decoration: none;}

            a:visited {
  color:#CBB99B;
  background-color: transparent;
  text-decoration: none;
}


    .navbar {
        overflow: hidden;
        background-color: transparent;
        padding-left: 33.5%;
        font-family: "bodytext-1";}

    .navbar a {
        float: left;
        font-size: 16px;
        color: #123c69;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; 
        font-weight: bolder;}

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        text-align: center;
        border: none;
        outline: none;
        color: #123c69; 
        padding: 14px 16px;
        background-color: inherit;
        font-family: 'bodytext-1';
        margin:0;
        font-weight: bolder; } 


    .subnav-content {
        display: none;
        position: absolute;
        background-color: transparent;
        z-index: 1;}

        .subnav-content a {
        color: #123c69; 
        text-decoration: none;
        font-weight: bolder; }

        .subnav:hover .subnav-content {
            display: block;}